*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans';
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root{
  --Soft-violet: hsl(273, 75%, 66%);
  --Soft-blue: hsl(240, 73%, 65%);

  --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --Soft-red: hsl(14, 88%, 65%);

  --Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --Dark-grayish-blue: hsl(240, 6%, 50%);

  --Light-grayish-blue: hsl(240, 5%, 91%);
}

body{
  background: linear-gradient(0deg,hsl(240, 73%, 65%) 20%, hsl(273, 75%, 66%)80% );
  place-items: center;
  min-height: 100vh;
}

/* faq card start */
.faq-card {
  border-radius: 30px;
  height: 510px;
  width: 925px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: flex-end; 
  background:
  url(../images/illustration-woman-online-desktop.svg) bottom 3.1rem left -5.1rem no-repeat,
  url(../images/bg-pattern-desktop.svg) bottom -10rem left -36rem no-repeat;
  background-color: white; 
  box-shadow: 5px 30px 40px 0 rgba(0, 0, 0, 0.2);
}
.faq-card::before {
  content: "";
  background: url(../images/illustration-box-desktop.svg) no-repeat;
  width: 140px;
  height: 190px;
  position: absolute;
  top: 65%;
  left: calc(50% - 470px);
  transform: translate(-55%, -55%);
  animation: boxHop 2s ease-in-out;
  animation-iteration-count: infinite;
}
/* keyframe for box */
@keyframes boxHop {
  from {
    transform: translate(-55%, -55%);
  }
  50% {
    transform: translate(-55%, -57.5%);
  }
  to {
    transform: translate( -55% ,-55%);
  }
}
/* faq-container start */
.faq-card__container {
  width: 50%;
  padding-block-start: 4.5rem;
  padding-inline-end: 5rem;
}
/* h1(faq-title) */
.faq-card__container .faq-card__title{
  text-align: left;
  padding-block-end: 43px;
  font-size: 2.2rem;
  font-size: 32px;
  font-weight: 700;
  color: var(--Very-dark-desaturated-blue);
}

/* faq items start */
.faq-card__container .faq-card__item{
  align-self: flex-end;
}

/* faq ques and arrow */
.faq-card__item .faq-card__question{
  padding:15px 0px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.rotate-icon {
  transform: rotate(180deg); /* Rotate arrow icon */
}
/* faq questions */
.faq-card__item .faq-card__question .faq-card__question-text{
  font-size: 14px;
  font-weight: 400;
  color: var(--Very-dark-grayish-blue);
}
.faq-card__item .faq-card__question .faq-card__question-text:active{
  cursor: pointer;
  color: var(--Soft-red);
}
.faq-card__item .faq-card__question .faq-card__question-text:hover{
  cursor: pointer;
  color: var(--Soft-red);
}
.faq-card__item .faq-card__question p.active-question {
  font-weight: bold;
  color: var(--Very-dark-desaturated-blue); 
}

/* border inside the question */
.faq-card__border-bottom-line{
  content: "";
  border: .1px solid var(--Light-grayish-blue);
}

/* button */
.faq-card__toggle-button{
  cursor: pointer;
  background-color: white;
}

/* faq answer */
.faq-card__item .faq-card__answer {
  padding-inline-end: 2.5%;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: var(--Dark-grayish-blue);
}
.faq-card__answer {
  padding-bottom: 15px;
  display: none; 
}
